<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>New Account</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input 
          matInput 
          placeholder="Employee Code" 
          formControlName="empCode"/>
          <mat-error *ngIf="f['empCode'].errors && f['empCode'].errors['required']">Employee Code is required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input 
          matInput 
          placeholder="Email Id" 
          formControlName="emailId"/>
          <mat-error *ngIf="f['emailId'].errors && f['emailId'].errors['required']">Email Id is required</mat-error>
          <mat-error *ngIf="f['emailId'].errors && f['emailId'].errors['email']">Invalid Email Id</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input 
          type="password"
          matInput 
          placeholder="Password" 
          formControlName="password"/>
          <mat-error *ngIf="f['password'].errors && f['password'].errors['required']">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input 
          type="password"
          matInput 
          placeholder="Confirm Password" 
          formControlName="cnfPwd"/>
          <mat-error *ngIf="f['cnfPwd'].errors && f['cnfPwd'].errors['required']">Confirm Password is required</mat-error>
          <mat-error *ngIf="f['cnfPwd'].errors && f['cnfPwd'].errors['matching']">Password and Confirm Password does not match</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button type="submit" mat-stroked-button color="accent" class="btn-block">
        Sign Up
      </button>
      <mat-label>Already have an account ? <a href="/signin">Sign In</a></mat-label>
    </form>
  </mat-card>
</div>
