

  <!-- <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
             >
      </canvas>
    </div>
  </div> -->

  <app-dynamic-table [tableData]="tableData" 
                     [tableColumns]="tableColumns"></app-dynamic-table>

                     <p>secound table</p>
<app-dynamic-table [tableData]="anotherTableData" 
                    [tableColumns]="anotherTableColumns"></app-dynamic-table>
